
/* ...............footer page style here........... */

.footer{
    background-color: black;
    color: whitesmoke;
    padding-top: 20px;
    line-height: 10px;
    margin-top: 25px;
    text-align: center;
}

/* ...............bottom part of footer page style.......... */
.footer-bottom{
    padding-top: 30px;
    padding-bottom: 10px;  
}
