
/* ...............404 error page style here........... */

.errorStyle{
    color: red;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 30px;
}
.back-link{
    background-color: rgb(144, 226, 11);
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 5px;
}
.back-click{
    color: green;
}